.book {
    background-image: linear-gradient(rgba(17, 17, 17, 0.588), rgba(17, 17, 17, 0.688)), url(../images/book.webp);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}

.section-1 {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2rem;
    padding: 150px 50px 50px;
}

.section-1 .section-a,
.section-1 .section-b {
    width: 50%;
}

.section-1 .section-a {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #fff;
    padding-top: 20px;

}

.section-1 .section-a span {
    font-size: 3rem;
    line-height: 1.1;
    font-weight: 700;
}

.section-1 .section-b {
    background-color: #fff;
    padding: 60px 40px;
    border-radius: 30px;

}

.section-1 .section-b form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-1 .section-b form input,
.section-1 .section-b form select,
.section-1 .section-b form textarea {
    border-radius: 30px;
    padding: 8px 20px;
    border: 1px solid #39c7f4;
    accent-color: #000;
}

.section-1 .section-b form select{
    background: white;
}


.section-1 .section-b form input::placeholder,
.section-1 .section-b form select::placeholder,
.section-1 .section-b form textarea::placeholder{
    color: #000;
}

.section-1 .section-b form button {
    width: 40%;
    margin: auto;
    background-color: #39c7f4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 0px;
    border-radius: 20px;
}


@media screen and (min-width: 768px) and (max-width: 1025px) {
    .section-1 {
        padding: 150px 35px 35px;
    }

    .section-1 .section-a span {
        font-size: 2.1rem;
    }

    .section-1 .section-b {
        padding: 40px 20px;
    }
}



@media (max-width: 767px) {
    .section-1 {
        flex-direction: column;
        padding: 150px 30px 30px;
    }

    .section-1 .section-a,
    .section-1 .section-b {
        width: 100%;
    }

    .section-1 .section-b {
        padding: 40px 20px;
    }

    .book {
        background-position: center;
    }

    .section-1 .section-a span {
        font-size: 2.1rem
    }
}